; 严格校验node版本
; engine-strict = true
; 良医汇私有npm仓库
@lyh:registry=https://npm.liangyihui.net/
; 控制同时处理的最大 HTTP(S) 的网络请求数,Default:16 Number
; network-concurrency=128
//npm.liangyihui.net/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJsaXlhb2dhbmciLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwibmFtZSI6ImxpeWFvZ2FuZyIsImdyb3VwcyI6WyJsaXlhb2dhbmciLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzQ2NjcxOTI5LCJuYmYiOjE3NDY2NzE5MjksImV4cCI6MTc3ODIwNzkyOX0.wutiEcSgyFpD3RBn5M5KZ831PF3u3grCKi6EKqjWwSY
